a{
    width: 60px;
    border: 1px solid red;
    border-radius: 10px;
    text-decoration: none;
    position: fixed;
    top: 10px;
    left: 100px;
    color:aquamarine;
    background-color: blue;
}